.home{
    color:var(--main-color);
    height: fit-content;
    width:100%;
    //position: relative;
    overflow: hidden;
    
    
    
}
 .listcontainer{
//     //position: absolute;
 margin-top: 1840px;
//    // top:2150px;
//    // overflow: hidden;
//    // width: 100%;
@media only screen and (max-width:1524px){
    margin-top: 800px;
    
}


@media only screen and (max-width:830px){
    margin-top: 800px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-auto-rows: 225px;
}
   
 }