.home{
    color:var(--main-color);
    height: fit-content;
    width:100%;
    //position: relative;
    overflow: hidden;
    
    
    
}
 .listcontainer{
//     //position: absolute;
 margin-top: 1840px;
//    // top:2150px;
//    // overflow: hidden;
//    // width: 100%;
   
 }