.navbar{
   
    color:white;
   font-size: 14px;
   height: 90px;
  // overflow: hidden;//top:0px
  position: fixed;
  z-index:2;
  padding-top: 10px;
  
  width: 100%;
  background: linear-gradient(to top,transparent 0%,rgb(0,0,0,0.3) 50%);
   &.scrolled{
    background-color: black;
    height: 80px;
   
   }
   @media only screen and (max-width: 800px ) {
    .navbar{
    height: 110px;
    }
}

   
}


.container{
   
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    
    
    
    span{
        margin: 5px 8px;
       
    }
    .left{
    display: flex;
    align-items: center;
    
    img{
        
        height:25px;
        margin-right: 20px;
        
    }
    
    }
    .right{
        display: flex;
        align-items: center;
        
        
     .dropdown{
        
        
        .options{
           display: none; 
            margin-top: -10px;
            cursor: pointer;
            border-radius: 5px;
            
        }
       &:hover{
        cursor: pointer;
        .options {
                display: flex;
                flex-direction: column;
                height:fit-content;
                position: absolute;
                background-color: black;

            @media only screen and (max-width: 800px) {
                     
                    flex-direction: row;
                
            }
                
              
            }
        
        }
     }    
        
        
     }
@media only screen and (max-width: 800px) {
    flex-direction: column;
    
    .right{
        
        justify-content: center;
        
          
    }
    
    
    
}
    
}
